AWS_REGION=us-east-1
SQS_QUEUE_URL=https://sqs.us-east-1.amazonaws.com/ACCOUNT_ID/switchfile-conversions-queue.fifo
S3_BUCKET_UPLOADS=switchfile-uploads-ACCOUNT_ID
S3_BUCKET_CONVERTED=switchfile-converted-ACCOUNT_ID
DYNAMODB_TABLE_FILES=switchfile-files
DYNAMODB_TABLE_CONVERSIONS=switchfile-conversions
